
<HeadContent>
    <link href="_content/BlazorReteJs/css/reteEditor.styles.css" rel="stylesheet"/>
    <link href="_content/BlazorReteJs/BlazorReteJs.bundle.scp.css" rel="stylesheet"/>
</HeadContent>

<div @ref="editorRef" id="@($"rete-editor-{Guid.NewGuid()}")" class="rete-editor-container"></div>