.fill-area {
    z-index: -1;
    position: absolute;
    top: -320000px;
    left: -320000px;
    width: 640000px;
    height: 640000px;
}

.background {
    background-color: #262626;
    opacity: 1;
    background-image:
            linear-gradient(#0f0f0f 1.5px, transparent 1.5px),
            linear-gradient(90deg, #0f0f0f 1.5px, transparent 1.5px),
            linear-gradient(#333333 1.5px, transparent 1.5px),
            linear-gradient(90deg, #333333 1.5px, #262626 1.5px);
    background-size: 200px 200px, 200px 200px, 25px 25px, 25px 25px;
    background-position: -1.5px -1.5px, -1.5px -1.5px, -1.5px -1.5px, -1.5px -1.5px;
}

#lasso {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#lasso polygon {
    stroke: #6c7fe9ad;
    stroke-dasharray: 10 5;
    stroke-width: 2;
    fill: rgb(144 161 255 / 21%);
    z-index: 5;
    animation: dash linear 1s infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 15;
    }
}